body {
  color: #24292f;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif;
  font-size: 14px;
}

#tidy-table {
  margin: 10% auto;
  width: 780px;
}

#tidy-table table {
  width: 100%;
}

/**
 * Fix text diacritic alignment
 */
#tidy-table table th::after,
#tidy-table table td::after {
  content: '';
  display: block;
  height: 0;
  margin-bottom: -4px;
  width: 0;
}

#tidy-table select.options {
  float: right;
  margin: 10px 0;
  padding: 3px;
}

#output {
  text-align: center;
  width: 100%;
}
