/* example */

#container {
	border: 4px double #BBBBBB;
	font-family: Tienne, Sans-Serif;
	margin: 10% auto 0px auto;
	width: 950px;
}

/* customize */

#container table.tidy_table {
	border: 0px;
	width: 100%;
}

#container table.tidy_table th {
	white-space: nowrap;
}

#container table.tidy_table th:nth-child(2),
#container table.tidy_table td:nth-child(2) {
	display: none;
}

#container table.tidy_table tr.check_on {
	background-color: #FFFF00;
}

#container table.tidy_table tr.check_off {
	background-color: #FFFFFF;
}
