/* example */

#container {
	border: 1px double #BBBBBB;
	margin: 10% auto 0px auto;
	position: relative;
	width: 760px;
}

/* customize */

#container select {
	position: absolute;
	right: 10px;
}

#container select.menu1 {
	top: -35px;
}

#container select.menu2 {
	bottom: -35px;
}

#container table.tidy_table {
	background-color: #FFFFFF;
	border-collapse: collapse;
	border: 0px;
	width: 100%;
}

#container table.tidy_table th {
	white-space: nowrap;
}

#container table.tidy_table tr.check_on {
	background-color: #F7F7F7;
}

#container table.tidy_table tr.check_off {
	background-color: #FFFFFF;
}

#container table.tidy_table th {
	background-color: #DDDDDD;
}

#container table.tidy_table th.sort_asc {
	background: #EEEEEE url( images/arrow_asc.gif ) no-repeat right center;
}

#container table.tidy_table th.sort_desc {
	background: #EEEEEE url( images/arrow_desc.gif ) no-repeat right center;
}

#container table.tidy_table td {
	border-top: 1px solid #CCCCCC;
}
